@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

body {
    color: #333333;
    font-family: 'Noto Sans JP',YuGothic, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif';
}

#header {
    width: 100%;
    height: 70px;
    background-color: #FFDC4A;
}

#header h1 {
      display:-webkit-flex;
      display: flex;
      justify-content: center;
    width: 100%;
    font-size: 30px;
    font-family: "Nico Moji";
}

#header a {

    color: #ffffff;
}

#header_menu {
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    width: 100%;

}
#user_name {
    margin-left: 15px;
    text-align:  center;
    width: 20%;

}
#shop_name {
    margin-right: 15px;
    text-align:  center;

}

#main {
    display:-webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
    width: 80%;
}
.in_main {
    text-align:  center;
}

.in_main h3{

      font-size: 30px;
       text-align:center;
        margin:0 auto;
         margin-top: 30px;
         margin-bottom: 10px;
          position: relative;
      padding: 1rem 2rem calc(1rem + 10px);
      background: #FFF0E9;
        width: 50%;
       height: 50%;
}

.in_main  h3:before {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

.exp{
  margin:40px auto;
  position: relative;
  padding: 1em 2em;
  text-align: center;
  width:40%;
}

.exp:before,
.exp:after {
  position: absolute;
  content: '';
}

.exp:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.exp:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* 007 */
.button007 a {
    background: #FFE986;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
    padding: 10px 25px;
    color: #333333;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button007 a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #333333;
    transition: 0.3s;
}
.button007 a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: #333333;
    transition: 0.3s;
}
.button007 a:hover:before, .button007 a:hover:after {
    right: -0.5em;
}
.button007 a:hover {
    background: #FFF0E9;
    color: #333333;
}
.in_main  h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #FEACAE;
}

table#index_shop_list {
    width: 70%;
    table-layout: fixed;
    padding: 60px 20px;
    margin:auto;
    background-color: #FFF0E9;
}

table#index_shop_list tr {
    padding: 50px;
    border-bottom:1px dashed #ccc;
    }
table#index_shop_list th {
    width: 26%;
    padding: 10px 2%;
}

table#index_shop_list td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#index_shop_list th {
    width: 30%;
    padding: 10px 2%;
}

table#index_shop_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}

tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}


h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

h3 {
    font-size: larger;
}