@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;500;700&display=swap');

body {
    color: #333333;
    font-family: 'Noto Sans JP',YuGothic, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif';
}

img {
    width:150px; height:150px;
    object-fit:contain;
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #FEACAE;
}
#header {
    width: 100%;
    height: 70px;
    background-color: #FFDC4A;
}

#header h1 {
      display:-webkit-flex;
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 30px;
      font-family: "Nico Moji";
      color: #ffffff;
}

#header a {
    color: #ffffff;
}

#header_menu {
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    width: 100%;

}
#user_name {
    margin-left: 15px;
    text-align:  center;
    width: 20%;

}
#shop_name {
    margin-right: 15px;
    text-align:  center;

}

#main {
    display:-webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
}
#content {
    width: 80%;
}
.in_main {
    text-align:  center;
}

.title3 {
    text-align:  center;
    width: 30%;
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 30px auto 30px;
    background: linear-gradient(transparent 70%, #FFDC4A 70%);
}

.title2 {
    text-align:  center;
    width: 60%;
    font-size: 40px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 30px auto 30px;
    background: linear-gradient(transparent 70%, #FFDC4A 70%);
}

.title1 {
    text-align:  center;
    width: 100%;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
}
.title1_supple {
    text-align:  center;
    width: 100%;
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 30px;
}

.in_main h3{

      font-size: 30px;
      text-align:center;
      margin:0 auto;
      margin-top: 30px;
      margin-bottom: 10px;
      position: relative;
      padding: 1rem 2rem calc(1rem + 10px);
      background: #FFEAE9;
        width: 50%;
       height: 50%;
}

.in_main  h3:before {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

.exp{
  margin:40px auto;
  position: relative;
  padding: 1em 2em;
  text-align: center;
  width:40%;
}

.exp:before,
.exp:after {
  position: absolute;
  content: '';
}

.exp:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.exp:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* 007 */
.button007 a {
    background: #FFE986;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
    padding: 10px 25px;
    color: #333333;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button007 a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #333333;
    transition: 0.3s;
}
.button007 a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: #333333;
    transition: 0.3s;
}
.button007 a:hover:before, .button007 a:hover:after {
    right: -0.5em;
}
.button007 a:hover {
    background: #FFEAE9;
    color: #333333;
}
.in_main  h2 {
    font-size: 36px;
    margin-bottom: 30px;
}


#index_shop_list_div {
     background-color: #FFEAE9;
     width: 60%;
     margin:auto;
     padding: 30px 10px;

}



#goods_view_box_wrap {
    display:-webkit-flex;
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:  center;
    background: #FEACAE;
    margin: 30px 0px;
    border-radius:10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2); /* 影 */
}


.goods_view {
    width: 250px;
    padding: 10px 2%;
    border-radius:10px;
    margin: 20px;
    background: #ffffff;
}

.goods_view_title{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.goods_view_mainbox {
    display:-webkit-flex;
    display: flex;
    justify-content: space-around;
}
.goods_view_main {
    width: 40%;
    padding: 10px 2%;
    margin: 10px;
}

.content_title{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Yu Gothic medium";
}
.content_con{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Yu Gothic medium";
}
#goods_view_box a{
    font-size: 8px;
    text-decoration: none;
    color: #FEACAE;
}

.button1 {
    width: 60%;
    text-align:  right;
    margin: 10px auto 10px;
    padding: 10px;
}
.button1 a{
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    background: #FEACAE;
    color: #333333;
}

/************************************
** メインのテーブル
************************************/
/* 比較表全体 */
.compare-box {
  display:-webkit-box;/* 配置 */
  display:-ms-flexbox;/* 配置 */
  display:flex;/* 配置 */
  max-width:600px;/* 横幅 */
  margin: 0 auto 2rem;/* 余白 */
  border-radius:4px;/* 角丸 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2); /* 影 */
  background: #fef9ed; /* 背景色 */
}
/* ボックス */
.compare-box .compare-left-wrap, .compare-box .compare-right-wrap{
  width:100%;/* 横幅半分ずつ */
  overflow:hidden;/* はみ出さないように*/
}
/* タイトル */
.compare-box .compare-head{
  background: #fdc44f; /* 背景色 */
  text-align: center;/* 中央寄せ */
  color: #FFF; /* 文字色 */
  font-weight: bold;/* 文字太さ */
  padding:0em 1em;/* 余白 */
  font-size:15px;/* 文字大きさ */
  line-height:1.5;/* 行間 */
  height:65px;/* 縦幅 */
  display:table-cell;/* 形式 */
  vertical-align:middle;/* 高さ中央寄せ */
  width:1000px;/* 横幅 */
}
/* タイトル */
.compare-box .compare-head{
  border-radius:4px 4px 0 0;/* 角丸 */
}

/* 左のコンテンツ、右のコンテンツ */
.compare-box .compare {
  padding:1.5em;/* 余白 */
  font-size:15px;/* 文字大きさ */
  line-height:2;/* 行間 */
  text-align: justify;/* 段落両端 */
  text-justify: inter-ideograph;/* 段落両端 */
}
/* 文章 */
.compare-box p {
  padding: 0;/* 余白 */
  margin: 0 0 20px 0;/* 余白 */
}
/*スマホで見たとき*/
@media screen and (max-width: 480px){
  /* 左のタイトル、右のタイトル */
  .compare-box .compare-head　{
    font-size:12px;/* 文字大きさ */
    height:50px;/* 高さ */
  }
  /* 左のコンテンツ、右のコンテンツ */
  .compare-box .compare {
      padding: 1.2em;/* 余白 */
      font-size: 12px;/* 文字大きさ */
   }
}

/************************************
**  箇条書き(記号)
************************************/
/* 箇条書き(記号) */
.compare-box .list{
   list-style: none !important;/* 行頭記号リセット */
   padding:0 !important;/* 余白リセット */
   margin:0 !important;/* 余白リセット */
   border:none !important;/* 線リセット */
}
/* 箇条書き 行 */
.compare-box .list li {
   border-bottom:1px dashed #cdcdcd;/* 線(太さ 種類　色) */
   position: relative;/* 配置 */
   margin:0.5em 0 !important;/* 余白 */
   max-width:500px;/* 横幅 */
   padding: 0 0 0.7em 1.4em !important;/* 余白 */
   line-height:1.8;/* 行間 */
}
/* 箇条書き 行最後 */
.compare-box .list li:last-child{
   border:none;
}
/* 箇条書き 行頭記号 */
.compare-box .list li:before {
   background-color:  #ffa952; /* 色 */
   position: absolute;/* 配置 */
   content: '';/* 空文字 */
   top: 10px;/* 上からの距離 */
   left: 7px;/* 下からの距離 */
   width: 7px;/* 横幅 */
   height: 7px;/* 縦幅 */
   border-radius: 4px;/* 角丸 */
}
/*スマホで見たとき*/
@media screen and (max-width: 480px){
  /* 箇条書き 行頭記号 */
  .compare-box .list li:before {
    top: 9px;/* 上からの距離 */
    left: 3px;/* 下からの距離 */
    width:5px;/* 横幅 */
    height:5px;/* 縦幅 */
  }
}

/************************************
**  リストその２
************************************/
ol.listdesign2{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
}
ol.listdesign2 li{
  position:relative;
  margin: 7px 0 7px 0px;
  padding-left:40px;
  font-weight: bold;
  font-size:14px;
  line-height: 30px;
  border: solid 1px #F6A38B;
  border-radius:20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
ol.listdesign2 li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height:30px;
  background: #F6A38B;
  border-radius: 50%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol.listdesign2 li:hover{
  background: #F6A38B;
  color: #fff;
}
ol.listdesign2 li:hover:before{
  background: #fff;
  color: #F6A38B;
}
div.listdesign2{
     width: 60%;
     margin: 30px auto 80px;
}

/************************************
**  Goods new edit show　関係
************************************/
/** input類 **/

.number1{
    width: 10em;
    max-width: 100%;
    padding: 0.2em;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 0.2em 0;
}
.text1{
    width: 15em;
    max-width: 100%;
    padding: 0.2em;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 0.2em 0;
}

.input_title{
    font-size: 18px;
    margin: 15px 0 15px;
    font-family: 'Noto Sans JP'
}

/************************************
**  divテーブル関係
************************************/

div.redTable {
  border: 2px solid #FEACAE;
  background-color: #FFFFFF;
  width: 70%;
  margin: 0 auto 0;
  text-align: center;
  border-collapse: collapse;
}
.divTable.redTable .divTableCell, .divTable.redTable .divTableHead {
  border: 1px solid #FEACAE;
  padding: 3px 2px;
}
.divTable.redTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.redTable .divTableRow:nth-child(even) {
  background: #FEE0E0;
}
.divTable.redTable .divTableHeading {
  background: #FEACAE;
}
.divTable.redTable .divTableHeading .divTableHead {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FEACAE;
}
.divTable.redTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.redTable .tableFootStyle {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #FEACAE;
}
.redTable .tableFootStyle {
  font-size: 13px;
}
.redTable .tableFootStyle .links {
     text-align: right;
}
.redTable .tableFootStyle .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}
.redTable.outerTableFooter {
  border-top: none;
}
.redTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}






#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#index_shop_list th {
    width: 30%;
    padding: 10px 2%;
}

table#index_shop_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}

tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}


h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

h3 {
    font-size: larger;
}